body {
	background: darkslateblue;
} 

.vision {
	margin-top: 80px;
	margin-left: 70px;
	font-family: Gill Sans, sans-serif;
	font-size: 200%;
	color: gainsboro;
}

.many {
	margin-top: 100px;
	margin-left: 70px;
	font-family: Gill Sans, sans-serif;
	font-size: 200%;
	color: gainsboro;
}

.different {
	margin-top: 140px;
	margin-left: 70px;
	font-family: Gill Sans, sans-serif;
	font-size: 200%;
	color: gainsboro;
}

.vistas {
	margin-top: 160px;
	margin-left: 70px;
	font-family: Gill Sans, sans-serif;
	font-size: 200%;
	color: gainsboro;
} 

a {
	color: gainsboro;
}