body {
	background-image: linear-gradient(to right, maroon, darkslategrey);
} 

.dispair {
	margin-left: 140px;
	margin-top: 130px;
	font-family: cursive;
	font-size: 250%;
	font-style: italic;
	opacity: 10%;
}

.surrender {
	margin-left: 135px;
	margin-top: 230px;
	font-family: cursive;
	font-size: 250%;
	font-style: italic;
	opacity: 10%;
}