

.books {
	text-align: right;
	margin-right: 900px;
}

.office {
	text-align: right;
	margin-right: 950px;
}

.ghost {
	text-align: left;
	margin-left: 50px;
}

.hall {
	text-align: left;
	margin-left: 10px;
} 

.rooms {
	text-align: left;
	margin-left: 30px;
} 

.seven {
	text-align: left;
	margin-left: 50px;
}

.know {
	text-align: left;
	margin-left: 70px;
}

.and {
	text-align: left;
	margin-left: 200px;
}

.clattering {
	text-align: left;
	margin-left: 250px;
}

.indeed {
	text-align: left;
	margin-left: 300px
}

.left {
	text-align: left;
	margin-left: 350px;
}

.ideas {
	text-align: left;
	margin-left: 300px;
}

.relation {
	text-align: left; 
	margin-left: 250px;
}

.hormones {
	text-align: left;
	margin-left: 200px;
}

.recognize {
	text-align: left;
	margin-left: 70px;
}

.accept {
	text-align: left; 
	margin-left: 50px;
}

.wrong {
	text-align: left;
	margin-left: 30px;
}

.who {
	text-align: 
	margin-left: 10px;
}






