


.new {
	text-align: center;
	margin-top: 250px;
	font-family: "Courier New", Courier, monospace;
	text-shadow: 2px 2px #ff0000;
}

.two {
	text-align: center;
	margin-top: -8px;
	font-family: "Courier New", Courier, monospace;
	text-shadow: 2px 2px #ff0000;
}

.just {
	margin-left: 530px;
	font-family: "Courier New", Courier, monospace;

}

.Two {
	margin-left: 490px;
	position: absolute;
	top: 375px;
	font-family: "Courier New", Courier, monospace;
}

.days {
	margin-left: 455px;
	position: absolute;
	top: 350px;
	font-family: "Courier New", Courier, monospace;
}

.after {
	margin-left: 440px;
	position: absolute;
	top: 320px;
	font-family: "Courier New", Courier, monospace;
}

.you {
	margin-left: 440px;
	position: absolute;
	top: 295px;
	font-family: "Courier New", Courier, monospace;
}

.left {
	margin-left: 445px;
	position: absolute;
	top: 270px;
	font-family: "Courier New", Courier, monospace;
}

.forever {
	margin-left: 455px;
	position: absolute;
	top: 240px;
	font-family: "Courier New", Courier, monospace;
}

.they {
	margin-left: 490px;
	position: absolute;
	top: 200px;
	font-family: "Courier New", Courier, monospace;
}

.come {
	margin-left: 550px;
	position: absolute;
	top: 170px;
	font-family: "Courier New", Courier, monospace;
}

.clattering {
	margin-left: 600px;
	position: absolute;
	top: 155px;
	font-family: "Courier New", Courier, monospace;
}

.with {
	margin-left: 710px;
	position: absolute;
	top: 155px;
	font-family: "Courier New", Courier, monospace;
}

.ideas {
	margin-left: 760px;
	position: absolute;
	top: 155px;
	font-family: "Courier New", Courier, monospace;
}

.about {
	margin-left: 795px;
	position: absolute;
	top: 170px;
	font-family: "Courier New", Courier, monospace;
}

.the {
	margin-left: 880px;
	position: absolute;
	top: 200px;
	font-family: "Courier New", Courier, monospace;
}

.relation {
	margin-left: 920px;
	position: absolute;
	top: 240px;
	font-family: "Courier New", Courier, monospace;
}

.between {
	margin-left: 950px;
	position: absolute;
	top: 275px;
	font-family: "Courier New", Courier, monospace;
}

.mind {
	margin-left: 980px;
	position: absolute;
	top: 310px;
	font-family: "Courier New", Courier, monospace;
}

.and {
	margin-left: 980px;
	position: absolute;
	top: 340px;
	font-family: "Courier New", Courier, monospace;
}

.body {
	margin-left: 980px;
	position: absolute;
	top: 370px;
	font-family: "Courier New", Courier, monospace;
}

.or {
	margin-left: 955px;
	position: absolute;
	top: 395px;
	font-family: "Courier New", Courier, monospace;
}

.will {
	margin-left: 936px;
	position: absolute;
	top: 420px;
	font-family: "Courier New", Courier, monospace;
}

.And {
	margin-left: 925px;
	position: absolute;
	top: 450px;
	font-family: "Courier New", Courier, monospace;
}

.fate {
	margin-left: 900px;
	position: absolute;
	top: 470px;
	font-family: "Courier New", Courier, monospace;
}

