body {
	background-image: linear-gradient(to right, indianred, darkred);
} 

.followed {
	margin-top: 100px;
	margin-left: 100px;
	font-family: cursive;
	font-size: 250%;
} 

.footsteps {
	margin-top: 200px;
	margin-left: 100px;
	font-family: cursive;
	font-size: 250%;
} 

.father {
	margin-top: 300px;
	margin-left: 100px;
	font-family: cursive;
	font-size: 250%;
}