

.some {
	font-family: "Courier New", Courier, monospace;
	margin-left: 170px;
	letter-spacing: 4px;
	font-weight: bold;
}

.or {
	font-family: "Courier New", Courier, monospace;
	margin-left: 170px;
	letter-spacing: 4px;
	font-weight: bold;
}

.clattering {
	font-family: "Courier New", Courier, monospace;
	margin-left: 200px;
	margin-top: 50px;
	letter-spacing: 4px;
}

.two {
	font-family: "Courier New", Courier, monospace;
	margin-left: 200px;
	margin-top: 50px;
	letter-spacing: 4px;
	font-weight: bold;
}

.days {
	font-family: "Courier New", Courier, monospace;
	margin-left: 200px;
	margin-top: 50px;
	letter-spacing: 4px;
	font-weight: bold;
}

.after {
	font-family: "Courier New", Courier, monospace;
	margin-left: 200px;
	margin-top: 50px;
	letter-spacing: 4px;
}

.mind {
	font-family: "Courier New", Courier, monospace;
	margin-left: 200px;
	letter-spacing: 4px;
}

.and {
	font-family: "Courier New", Courier, monospace;
	margin-left: 200px;
	letter-spacing: 4px;
}

.world {
	font-family: "Courier New", Courier, monospace;
	margin-left: 200px;
	letter-spacing: 4px;
}

.workers {
	font-family: "Courier New", Courier, monospace;
	margin-left: 200px;
	margin-top: 50px;
	letter-spacing: 4px;
	font-weight: bold;
}

.halls {
	font-family: "Courier New", Courier, monospace;
	margin-left: 200px;
	margin-top: 50px;
	letter-spacing: 4px;
}








