

.a {
	text-align: center;
} 

.h1 {
	margin-left: 100px;
}

.be {
	margin-left: 350px;
}

.carried {
	margin-left: 700px;
}

.car {
	margin-left: 900px;
}

.your {
	margin-left: 400px; 
} 

.office-door {
	text-align: center;
}


