body {
	background: darkslateblue;
} 

.down {
	text-align: center;
	margin-top: 100px;
	font-family: Gill Sans, sans-serif;
	font-size: 200%;
	color: gainsboro;
	letter-spacing: 3px;
}

.lonley {
	margin-top: 300px;
	text-align: center;
	font-family: Gill Sans, sans-serif;
	font-size: 100%;
	color: gainsboro;
	letter-spacing: 8px;
}

.window {
	margin-top: 220px;
	text-align: center;
	font-family: Gill Sans, sans-serif;
	font-size: 200%;
	color: gainsboro;
}

a {
	color: black;
} 

#circle {
	  margin-left: 500px
	  margin-top: 300;
      width: 50px;
      height: 50px;
      background: gold;
      border-radius: 50%
    }