body {
	background: firebrick;
} 

.tell {
	text-align: center;
	font-family: cursive;
	font-size: 500%;
	color: black;
	opacity: 25%;
}

.didnt {
	text-align: center;
	font-family: cursive;
	font-size: 500%;
	color: black;
	opacity: 25%;
} 

.choice {
	text-align: center;
	font-family: cursive;
	font-size: 500%;
	color: black;
	opacity: 25%;
} 

a {
	color: black;
	opacity: 25%;
}